.center {
    text-align: center;
    border: 35px solid #fff387;
    margin-top: 40px;
    font-size:120%; width:100%
    
  }
  
  .sidebar {
    height: 100%; 
    width: 80px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #fff387; 
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    writing-mode: vertical-rl;
    text-orientation: mixed;  
    pointer-events: none;
  }
  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  /*#footer {
    background: #e9e8e6;
    padding: 30px 0;
    color: #fff387;
    font-size: 14px;
    text-align: center;
  }